.header{
    background-color: rgb(116, 9, 9);
    width: 100%;
    height: 50px;
    text-align: center;
}
h1{
    color: aliceblue;
    font-family: Montserrat;
    margin: 0px 0px;
}
li{
    list-style-type: none;
    font-size: 20px;
    color: rgb(236, 236, 236);
    font-family: Montserrat;
}
.up1{
    width: 400px;
    height: 50px;
    background-color: rgb(94, 94, 94);
    position: relative;
    display:grid;
    border-right: 2px solid white;
}
.skelet{
    text-align: center;
}
.up2{
    width: 400px;
    height: 50px;
    background-color: rgb(94, 94, 94);
    position: relative;
    display: grid;
    border-left: 2px solid white;
}
ul li ul{
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}
.up1:hover{
    background-color: brown;
    color: white;
}
.up2:hover{
    background-color: brown;
    color: white;
}
.up1:hover > .ul1{
    visibility: visible;
    transition: 1s;
    opacity: 1;
}
.ul1 .li1{
    width: 400px;
    height: 50px;
    background-color: rgb(126, 126, 126);
    position: absolute;
    top: 50px;
    left: 0px;
    text-align: center;
}
.ul1 .li2{
    width: 400px;
    height: 50px;
    background-color: rgb(126, 126, 126);
    position: absolute;
    top: 100px;
    left: 0px;
    text-align: center;
    margin: 0 auto;
}
.ul2 .up3{
    width: 400px;
    height: 50px;
    background-color: rgb(126, 126, 126);
    position: absolute;
    top: 50px;
    left: 0px;
    text-align: center;
}
.ul2 .li2{
    width: 400px;
    height: 50px;
    background-color: rgb(126, 126, 126);
    position: absolute;
    top: 100px;
    left: 0px;
    text-align: center;
}
.allul{
    width: 805px;
    margin: 0 auto;
}
.skelet{
    width: 805px;
    height: 51px;
    display: flex;
    margin: 0 auto;
}
.ul3 .li1{
    position: relative;
    top: -25px;
    left: 360px;
    background-color: rgb(126, 126, 126);
    width: 150px;
    height: 50px;
    transition: 1s;
}

.up2:hover > .ul2{
    visibility: visible;
    opacity: 1;
    transition: 1s;
}
.up2:hover > .up3{
    visibility: visible;
    opacity: 1;
    transition: 1s;
}
.up3:hover{
    background-color:brown;
}
.up3:hover > .ul3{
    visibility: visible;
    opacity: 1;
    transition: 1s;
}